/* Обёртка для контента корзины */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



/* Внутренний контент хедера, если используется */
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
