ul li {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* выравнивание по центру вертикали */
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 600px; /* ограничим ширину */
    gap: 20px;
}


ul li img {
    border-radius: 8px;
    flex-shrink: 0;
    max-width: 100px;
    height: auto;
}

ul li .product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 450px; /* ширина текста */
}

ul li .product-info p {
    margin: 5px 0;
}

ul li .product-info strong {
    margin-top: 10px; /* отступ сверху */
    font-size: 1.2em;
    align-self: flex-start;
}
