header {
    background-color: cornflowerblue;
    width: 100%;
}

/* Обёртка, в которой только контент */
.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;       /* Центрированный контейнер */
    margin: 0 auto;
    width: 100%;
}

/* Первый и последний элемент в header с отступами */
.header-container > *:first-child {
    padding-left: 20px;
}

.header-container > *:last-child {
    padding-right: 20px;
}

/* Навигационные ссылки */
/* nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #490b00;
} */

/* Поисковая форма */
.search-container form {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-container button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #efa700;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #785201;
}

.site-title {
    color: #f9c13c;
}

 a {
    text-decoration: none;
    font-weight: bold;
 }