.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


.product img {
    display: block;            /* Сделать блочным элементом */
    margin: 0 auto 10px auto;  /* Центрировать по горизонтали */
    width: 150px;              /* Ширина картинки */
    height: 150px;             /* Высота картинки */
    object-fit: cover;         /* Обрезать изображение аккуратно */
    border-radius: 8px;        /* Закруглённые края по желанию */
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product input[type="number"] {
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Центрируем весь контент */
    text-align: center;
}

.back-link {
    margin-left: 20px; /* небольшой отступ слева */
    display: inline-block;
    text-decoration: none;

    font-weight: bold;
}